{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
        <h1>Hello, world!</h1>
        <p>...</p>
        <p><a class="btn btn-primary btn-lg" href="{{ url_for('download') }}" role="button">Download</a></p>
    </div>

    <div class="page-header">
        <h1>Broadcasts</h1>
    </div>
    {% for post in messages %}
    <div class="alert alert-info" role="alert">
        {{ post.message }}
    </div>
    {% endfor %}
    <a href="{{ url_for('download') }}">Download</a>
{% endblock %}
